.type-icon {
  color: #757575;
  margin-right: 5px;
}

mat-tree-node {
  position: relative;
  cursor: pointer;
}

mat-tree-node:hover {
  background: #f5f5f5;
}

mat-tree-node > button {
  margin-left: 4px;
}
