<mat-toolbar>
  <button
    type="button"
    aria-label="Cancel"
    mat-icon-button
    (click)="cancel.emit()">
    <mat-icon aria-label="icon">close</mat-icon>
  </button>

  <span class="toolbar-title">{{ title }}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="filler"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-content select="[bgr-menu]"></ng-content>
  </mat-menu>
</mat-toolbar>

