/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filler {
  flex: 1 1 auto;
}

span.toolbar-title {
  position: absolute;
  left: 72px;
  /*padding-left: 26px;*/
}

/*.mat-typography h2 {
  margin: 16px;
}*/
